{
    "checking_period": 10,
    "tasks": [
        {
            "ref_id": "ref_1",
            "url": "https://www.timesofindia.com",
            "what_to_check": "Work here is done",
            "checking_period": -1
        },
        {
        "ref_id": "ref_2",
            "url": "https://gobyexample.com/writing-files",
            "what_to_check": "To start,",
             "checking_period": 1
        },
         {
         "ref_id": "ref_3",
            "url": "invalid_url",
            "what_to_check": "To start,"
        }
    ]
}