{
    "checking_period": 10,
    "tasks": [
        {
            "url": "https://www.timesofindia.com",
            "what_to_check": "Work here is done"
        },
        {
            "url": "https://gobyexample.com/writing-files",
            "what_to_check": "To start,",
             "checking_period": 1
        },
         {
            "url": "invalid_url",
            "what_to_check": "To start,"
        }
    ]
}